<div class="container">
    <h1>TOURNAMENT CENTER</h1>
    <h2>TournamentId - {{vm.tournament.id}}</h2>
    <button ng-show="vm.tournament.state === 'CREATED'"
            ng-click="vm.changeTournamentState('ENROLLMENT_OPEN')" class="btn btn-primary">
        START ENROLLMENT
    </button>
    <button ng-show="vm.tournament.state === 'ENROLLMENT_OPEN'"
            ng-click="vm.changeTournamentState('ENROLLMENT_COMPLETE')" class="btn btn-primary">
        CLOSE ENROLLMENT
    </button>
    <button ng-click="vm.deleteTournament()" class="btn btn-primary">DELETE TOURNAMENT</button>
    <h2>Enrolled participants: </h2>
    <ul>
        <li ng-repeat="participant in vm.tournament.enrollment.enrolledParticipantIds">{{participant}}</li>
    </ul>
</div>
