<div class="tmp-creator" id="tmp-creator">

    <ul class="tmp-navbar">
        <div>
            <li ng-click="vm.scrollTo(1)" class="active">
                <div class="title">1</div>
                <div class="subtitle">Basic information</div>
            </li>
            <li ng-click="vm.scrollTo(2)">
                <div class="title">2</div>
                <div class="subtitle">Discipline & strategy</div>
            </li>
            <li ng-click="vm.scrollTo(3)">
                <div class="title">3</div>
                <div class="subtitle">Place</div>
            </li>
            <li ng-click="vm.scrollTo(4)">
                <div class="title">4</div>
                <div class="subtitle">Data</div>
            </li>
            <li ng-click="vm.scrollTo(5)">
                <div class="title">5</div>
                <div class="subtitle">Summary</div>
            </li>
        </div>

    </ul>

    <ul class="tmp-content" id="tmp-creator-content">
        <li>
            <div class="input-group">
                <div class="input-with-label">
                    <label for="tournament-name">Tournament name</label>
                    <input ng-model="vm.tournament.name" type="text" id="tournament-name">
                </div>
                <div class="input-with-label">
                    <label for="tournament-description">Tournament description</label>
                    <textarea ng-model="vm.tournament.description" id="tournament-description"></textarea>
                </div>
            </div>
        </li>
        <li>
            <div class="input-group">
                <div class="input-with-label">
                    <label for="tournament-discipline">Tournament discipline</label>
                    <select ng-model="vm.tournament.sport" id="tournament-discipline">
                        <option>VOLLEYBALL</option>
                        <option>BEACH_VOLLEYBALL</option>
                        <option>SOCCER</option>
                        <option>HOCKEY</option>
                    </select>
                </div>
                <div class="input-with-label">
                    <label for="tournament-strategy">Tournament strategy</label>
                    <select ng-model="vm.tournament.strategy" id="tournament-strategy">
                        <option>SINGLE_ELIMINATION</option>
                        <option>DOUBLE_ELIMINATION</option>
                        <option>ROUND_ROBIN</option>
                        <option>LEAGUE</option>
                    </select>
                </div>
                <div class="input-with-label">
                    <label for="tournament-capacity">Tournament capacity</label>
                    <input ng-model="vm.capacity" id="tournament-capacity">
            </div>
        </li>
        <li>
            <div class="input-group">
                <div class="input-with-label">
                    <label for="tournament-place">Tournament place</label>
                    <input ng-model="vm.tournament.place" id="tournament-place">
                </div>
            </div>
        </li>
        <li>
            <div class="input-group">
                <div class="input-with-label">
                    <label for="tournament-start-date">Start date</label>
                    <input ng-model="vm.startDate" type="date" id="tournament-start-date">
                </div>
                <div class="input-with-label">
                    <label for="tournament-start-time">Start time</label>
                    <input ng-model="vm.startTime" type="time" id="tournament-start-time">
                </div>
                <div class="input-with-label">
                    <label for="tournament-end-date">End date</label>
                    <input ng-model="vm.endDate" type="date" id="tournament-end-date">
                </div>
                <div class="input-with-label">
                    <label for="tournament-end-time">End time</label>
                    <input ng-model="vm.endTime" type="time" id="tournament-end-time">
                </div>
                <div class="input-with-label">
                    <label for="tournament-backup-start-date">Backup start date</label>
                    <input ng-model="vm.backupStartDate" type="date" id="tournament-backup-start-date">
                </div>
                <div class="input-with-label">
                    <label for="tournament-backup-start-time">Backup start time</label>
                    <input ng-model="vm.backupStartTime" type="time" id="tournament-backup-start-time">
                </div>
                <div class="input-with-label">
                    <label for="tournament-backup-end-date">Backup end date</label>
                    <input ng-model="vm.backupEndDate" type="date" id="tournament-backup-end-date">
                </div>
                <div class="input-with-label">
                    <label for="tournament-backup-end-time">Backup end time</label>
                    <input ng-model="vm.backupEndTime" type="time" id="tournament-backup-end-time">
                </div>
            </div>
        </li>
        <li>
            <button ng-click="vm.createTournament()">Create tournament!!11</button>
        </li>
    </ul>

</div>