/* app css stylesheet */
.navbar-inverse a {
  cursor: pointer;
}
.input-group.login-form {
  width:300px;
}
.input-group.login-form input {
  width: 200px;
  margin-bottom: 20px;
}
.input-group.login-form button {
  width: 200px;
}
body {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
}