
<!-- NAVIGATION -->
<nav class="navbar" ng-class="{'tmp-navbar': vm.menuExpanded, 'collapsed-navbar': !vm.menuExpanded}"  role="navigation">
    <ul class="nav navbar-nav" ng-show="vm.isAuthenticated && vm.menuExpanded">
        <div class="user-profile" ng-click="vm.showUserProfile()">
            <img ng-src="{{vm.userPictureUrl}}" class="user-picture">
            <div class="user-username" >{{vm.username}}</div>
        </div>
        <li><a ui-sref="state1">TMP-ENROLLMENT</a></li>
        <li><a ui-sref="state2">TMP-CORE</a></li>
        <li><a ui-sref="state3">TMP-STATS</a></li>
        <li><a ng-click="vm.menuExpanded = !vm.menuExpanded">EXPAND/COLLAPSE</a></li>
        <li class="logout" ng-show="vm.isAuthenticated" ng-click="vm.logoutFunction()"><a ui-sref="login">LOGOUT</a></li>
    </ul>

    <ul class="nav navbar-nav collapsed-nav" ng-show="vm.isAuthenticated && !vm.menuExpanded">
        <div class="user-profile" ng-click="vm.showUserProfile()">
            <img ng-src="{{vm.userPictureUrl}}" class="user-picture">
        </div>
        <li><a ui-sref="state1"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a ui-sref="state2"><i class="glyphicon glyphicon-globe"></i></a></li>
        <li><a ui-sref="state3"><i class="glyphicon glyphicon-send"></i></a></li>
        <li><a ng-click="vm.menuExpanded = !vm.menuExpanded"><i class="glyphicon glyphicon-resize-horizontal"></i></a></li>
        <li class="logout" ng-show="vm.isAuthenticated" ng-click="vm.logoutFunction()">
            <a ui-sref="login"><i class="glyphicon glyphicon-off"></i>
            </a>
        </li>
    </ul>
</nav>

<div ng-class="{'collapsed-main': vm.menuExpanded, 'expanded-main': !vm.menuExpanded}" class="main">
    <div class="workplace" ui-view></div>
</div>