<div ng-show="vm.tournaments.length === 0">
    <div class="no-tournaments-message">
        <p>THERE ARE NO TOURNAMENTS THAT YOU CAN ENROLL TO</p>
        <div class="no-tournaments">
            <div ui-sref="TournamentCreator" class="encouragement">
                <div><i class="icon glyphicon glyphicon-plus"></i></div>
                <div>CREATE YOUR OWN TOURNAMENT</div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center" ng-show="vm.tournaments.length > 0">
    <div class="enroll-me-header">ENROLL FOR TOURNAMENTS</div>
    <div class="col-md-12">
        <div class="tournaments-wrapper-full">
            <div ng-click='vm.showEnrollmentPopup(tournament)' class="text-left tournament" ng-repeat="tournament in vm.tournaments">
                <div class="tournament-top-section">
                    <div class="tournament-title">{{tournament.name}}</div>
                    <div class="discipline-icon volleyball-icon"></div>
                </div>
                <div class="tournament-bottom-section">
                    <div class="tournament-info-section tournament-status">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        {{tournament.state === null ? "CREATED" : tournament.state}}
                    </div>
                    <div class="tournament-info-section tournament-date">
                        <i class="glyphicon glyphicon-calendar"></i>
                        {{tournament.startTime.substring(0, tournament.startTime.indexOf("T"))}}
                    </div>
                    <div class="tournament-info-section tournament-level">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        {{tournament.place}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
