<p>View 1</p>
<p>Tmp-Enrollment</p>
<p>{{ctrl1.message}}</p>
<button ng-click="refresh()" type="button" class="btn btn-primary">Refresh</button>

<div class="input-group">
    <input ng-model="login" type="text" class="form-control" placeholder="Login">
    <input ng-model="password" type="text" class="form-control" placeholder="Password">
    <button ng-click="loginFunction()" type="button" class="btn btn-success">Log in</button>
    <button ng-click="logoutFunction()" type="button" class="btn btn-warning">Log out</button>
</div>