@import "variables";

.section-header {
  background-color: $color-jacarta;
  color: $color-white;
  margin: 2vh 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 5vh;
  line-height: 5vh;
  font-size: 1vw;
  letter-spacing: $letterSpacing;

}

.image {
  height: 40vh;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2vh;
}

.image-stadium {
  background-image: url('../images/stadium2.jpg');

}

.image-tennis {
  background-image: url('../images/tenis2.jpg');
}

.image-beach {
  background-image: url('../images/beach.jpg');
}

.no-tournaments {

  .encouragement {
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $color-white;
    background-color: $color-jacarta;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: $letterSpacing;
    font-size: 1vw;

    .icon {
      font-size: 10vh;
      margin-bottom: 2vh;
    }

  }

}

.tournaments-wrapper, .tournaments-wrapper-full {
  .tournament {
    height: 12vh;
    cursor: pointer;
    background-color: $color-jacarta;
    color: $color-white;
    letter-spacing: $letterSpacing;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2vh;

    .tournament-top-section {
      height: 6vh;
      border-bottom: 2px solid $color-studio;
      display: flex;
      align-items: center;
      font-size: 1.5vw;

      .tournament-title {
        margin-left: 1vw;
        width: 85%;
      }

      .discipline-icon {
        width: 4vh;
        height: 4vh;
        margin-right: 20px;
      }

      .volleyball-icon {
        background-image: url("../images/volleyball-icon.png") ;
        background-size: cover;
      }
    }

    .tournament-bottom-section {
      display: flex;
      align-items: center;
      height: 6vh;
      font-size: 0.75vw;
      letter-spacing: 1px;

      .tournament-info-section {
        width: 33%;
        border-left: 1px solid $color-studio;
        display: flex;
        justify-content: center;

      }

      .tournament-info-section.tournament-date {
        font-size: 0.7vw;
      }

      .tournament-info-section.tournament-status {
        border-left: none;
      }


    }
  }
}

.tournaments-wrapper {
  height: 40vh;
}

.tournaments-wrapper-full {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}