@import "variables";

.section-header {
  background-color: $color-jacarta;
  color: $color-white;
  margin: 20px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  line-height: 50px;
  font-size: 20px;

}