@import "variables";

.navbar.tmp-navbar {
  background-color: $color-jacarta;
  border-radius: 0;
  width: $navbarWidth;
  letter-spacing: $letterSpacing;
  height: 100vh;
  position: fixed;

  .nav.navbar-nav {
    height: 100%;
  }

  a {
    color: $color-white;
    padding-right: 0;
  }

  .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
  }

  .nav>li {
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid $color-studio;
    text-align: right;
  }

  .nav .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
  }
  .nav>li:hover, .nav>li:focus, .nav>li.active {
    background-color: transparent;
    border-bottom: 2px solid $color-white;
  }
  .user-picture {
    width: 140px;
    height: 140px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
    border-radius:75px;
    margin-top:20px;
    margin-left: calc((#{$navbarWidth} - 140px)/2);
  }
  .user-username {
    color: $color-white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.main {
  width: calc(100vw - #{$navbarWidth});
  margin-left: $navbarWidth;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .workplace {
    width: 95%;
    height: 95%;
    border: 2px solid $color-white
  }
}