
@import "variables";

.tmp-creator {

  width: 100%;
  height: 100%;
  overflow: hidden;


  .tmp-navbar {
    width: 150px;
    padding:0;
    margin:0;
    float:left;
    position: absolute;

    > div {
      display: table-cell;
      vertical-align: middle;
      height: calc(95vh - 2 * #{$workspaceBorder} );
      width:150px;
    }

    li {
      color: $color-victoria;
      list-style-type: none;
      width: $creatorNavbarWidth;
      margin-bottom:50px;
      cursor: pointer;
      .title {
        font-size: 32px;
        text-align: center;
      }
      .subtitle {
        font-size: 10px;
        text-align: center;
      }
    }

    li.active {
      color: $color-tapestry;
    }

  }

  .tmp-content {
    width: calc(100% - #{$creatorNavbarWidth});
    padding: 0;
    display: inline-block;
    float: left;
    margin: 0 0 0 $creatorNavbarWidth;
    height: 400%;
    li {
      list-style-type: none;
      height: 25%;

    }
  }

}